/* _content/GameWeb/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-gwogx84t70] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
}

.background-default[b-gwogx84t70] {
    background-image: url('images/default.png');
}

.background-account[b-gwogx84t70] {
    background-image: url('images/account.png');
}

.background-default-bright[b-gwogx84t70] {
    background-image: url('images/default-bright.png');
}

main[b-gwogx84t70] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content[b-gwogx84t70] {
    width: 100%;
    max-width: 1200px;
}

.navbar[b-gwogx84t70] {
    background-color: transparent !important;
}

.navbar-dark .navbar-nav .nav-link[b-gwogx84t70] {
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease;
    font-size: 2.0rem;
}

.navbar-dark .navbar-nav .nav-link:hover[b-gwogx84t70],
.navbar-dark .navbar-nav .nav-link:focus[b-gwogx84t70] {
    color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .main-link[b-gwogx84t70] {
    font-size: 3.0rem;
    font-weight: bold;
}

#blazor-error-ui[b-gwogx84t70] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: black;
}

#blazor-error-ui .dismiss[b-gwogx84t70] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* original code

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

*/
/* _content/GameWeb/Components/Pages/Temp.razor.rz.scp.css */
.page[b-i02oqwwsa5] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
}

.default-background[b-i02oqwwsa5] {
    background-image: url('images/default-background.jpg');
}

.login-background[b-i02oqwwsa5] {
    background-image: url('images/login-background.jpg');
}

/* Rest of your CSS styles... */
