@page "/project_k"
@rendermode InteractiveServer
@inject AuthStateProvider AuthState

<PageTitle>Project K</PageTitle>

<h1>Project K</h1>
<br>
<br>
<br>
<br>
<br>
<h3>Coming Soon...</h3>

@code {
    // page on work
}
