.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
}

.default-background {
    background-image: url('images/default-background.jpg');
}

.login-background {
    background-image: url('images/login-background.jpg');
}

/* Rest of your CSS styles... */