@page "/userlist"
@rendermode InteractiveServer
@inject UserService userService
@inject ILogger<UserList> logger

<button class="btn btn-primary" @onclick="HandleSubmit">DB</button>
<button class="btn btn-primary" @onclick="HandleSomething">DB2</button>

@code {
    private async Task HandleSubmit()
    {
        UserDto loginUser = new UserDto();
        var result = await userService.LoginAsync(loginUser);

        if (result.IsSuccess)
        {
            logger.LogWarning("Success");
        }
        else
        {
            logger.LogWarning("KKS");
        }
    }

    private async Task HandleSomething()
    {
        UserDto loginUser = new UserDto();
        loginUser.UserId = "No";

        var result = await userService.LoginAsync(loginUser);

        if (result.IsSuccess)
        {
            logger.LogWarning("AHHHH");
        }
        else
        {
            logger.LogWarning("NOT AGGGG");
        }
    }
}